<div class="todo-container">
  <div class="inputContainer">
    <input [(ngModel)]="newTodo" (keydown.enter)="addTodo()" placeholder="Add todo" />
    <button class="add" (click)="addTodo()">Add</button>
  </div>

  <ul>
    <li class="item" *ngFor="let todo of todos">
      <div class="container">
        <input type="checkbox" [checked]="todo.completed" (change)="toggleTodo(todo.id)" />
        <span [style.textDecoration]="todo.completed ? 'line-through' : 'none'">{{ todo.title }}</span>
      </div>

      <button (click)="deleteTodo(todo.id)">Delete</button>
    </li>
  </ul>
</div>

